
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 22px;
}

@media(max-width: 964px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width: 1248px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.profile-img{
  width:90%;
  border-radius:50%;
}

.channel-img{
  vertical-align: top;

}

.thumbnail{
  width: 100%;
}

.thumbnail-row{
  position: relative;
}

.duration{
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;


  border-radius: 4px;
  background-color: black;
  color: white;

  position: absolute;
  right: 3px;
  bottom: 8px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 11px;
}

.description-para{
  font-size:130%;
  line-height: 100%;

}

.author-para{
  font-size: 12px;
  font-weight: 500;
  color: rgb(160, 153, 153);
  margin-top: 10px;
  margin-bottom: 6px;
}
.stats-para{
  font-size: 12px;
  font-weight: 500;
  color: rgb(160, 153, 153);
}
