
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.profile-img{
  width:90%;
  border-radius:50%;
}

.channel-img{
  vertical-align: top;

}

.thumbnail{
  width: 100%;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 11px;
}

.description-para{
  font-size:130%;
  line-height: 100%;

}

.author-para{
  font-size: 12px;
  font-weight: 500;
  color: rgb(160, 153, 153);
  margin-top: 10px;
  margin-bottom: 6px;
}
.stats-para{
  font-size: 12px;
  font-weight: 500;
  color: rgb(160, 153, 153);
}
